.main_box {
    width: 100vw;
    height: 100vh;
    background: url('@/assets/images/bg/bg11.png') no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.header {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    color: #7eb7cb;
    background: #04101e;
    line-height: 58px;
}

.header .left {
    display: flex;
}

.header .left>div {
    font-size: .18rem;
}

.header .center {
    font-size: .36rem;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #7eb7cb, #3c5c82);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}