@header-height: 80px;

li {
    list-style: none;
}

.main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: #06164A;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.mainbox {
    width: 100%;
    height: calc(96% - @header-height);
    padding-top: 1%;
}

.left {
    float: left;
    position: relative;
    width: 25%;
    height: 100%;
    margin-left: 1%;
    // background-color: aliceblue;
}

.center {
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 1%;
    // background-color: red;
}

.right {
    float: left;
    width: 25%;
    height: 100%;
    margin-left: 1%;
    // background-color: aliceblue;
}