@header-height: 7%;
@padding-num: 1%;

.main {
    background: #000d4a url(@/assets/images/bg/bg04.jpg) center center;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: @header-height;
    background: url('@/assets/images/head/topbg.png') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header h1 {
    font-size: 30px;
    color: white;
    opacity: 0.8;
    letter-spacing: -1px;
    margin: 0;
}


.head .nav {
    position: absolute;
    left: 40px;
    line-height: 40px;
    top: 0;
    opacity: .7
}

.nav_ul li {
    float: left;
    display: flex;
}

.nav_ul li a {
    color: white !important;
}

.nav>ul>li {
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    position: relative;
    line-height: 25px;
    margin-top: 0px;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav>ul>li:hover {
    box-shadow: -5px 0px 10px #034c6a inset,
        0px -10px 15px #034c6a inset,
        10px 0px 15px #034c6a inset,
        0px 10px 15px #034c6a inset;
    box-sizing: border-box;
    cursor: pointer;
}

.nav>ul>li i {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.nav>ul>li>a {
    color: #ffffff;
    font-size: 14px;
}

.nav_active {
    border-bottom: 4px solid #4b8df8;
    box-shadow: -10px 0px 15px #034c6a inset,
        0px -10px 15px #034c6a inset,
        10px 0px 15px #034c6a inset,
        0px 10px 15px #034c6a inset;
    box-sizing: border-box;
}

.mainbody {
    height: calc(100% - @header-height);
    width: 100%;
}

.left {
    width: calc(26% - @padding-num);
    height: 100%;
    float: left;
    padding-left: @padding-num;
}

.center {
    width: calc(48% - @padding-num - @padding-num);
    height: 100%;
    padding-left: @padding-num;
    padding-right: @padding-num;
    float: left;
    position: relative;
}

.right {
    width: calc(26% - @padding-num);
    height: 100%;
    float: left;
    padding-right: @padding-num;
}

.left-top {
    width: 100%;
    height: 37%;
}

.left-middle {
    width: 100%;
    height: 33%;
}

.left-bottom {
    width: 100%;
    height: 30%;
}

.center-bottom {
    width: 100%;
    height: 30%;
}

.right-top {
    width: 100%;
    height: 37%;
}

.right-middle {
    width: 100%;
    height: 33%;
}

.right-bottom {
    width: 100%;
    height: 30%;
}

.center-top {
    position: relative;
    z-index: 10;
    opacity: .8;
    width: 100%;
    height: 70%;
}

.map1,
.map2,
.map3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map1 {
    z-index: 2;
    animation: myfirst2 15s infinite linear;
    display: flex;
}

.map2 {
    z-index: 3;
    opacity: 0.2;
    animation: myfirst 10s infinite linear;
}

.map3 {
    z-index: 1;
}

.map1 img {
    width: 65%
}

.map2 img {
    width: 55%
}

.map3 img {
    width: 55%
}

.map4 {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 100;
}

@keyframes myfirst2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@keyframes myfirst {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-359deg);
    }
}

.table1 th {
    border-bottom: 1px solid #407abd;
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: rgba(255, 255, 255, .8)
}

.table1 td {
    border-bottom: 1px dotted#407abd;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
    color: rgba(255, 255, 255, 1)
}

.table1 tr:last-child td {
    border: none;
}

.table1 td span {
    font-size: 12px;
    transform: scale(.8);
    display: inline-block;
}

.text-w {
    color: #ffe400
}

.text-d {
    color: #ff0000
}

.text-s {
    color: #14e144
}

.text-b {
    color: #00deff
}

.jbgc {
    height: 100%;
    position: relative
}

.jbgc li {
    height: 100%;
    float: right;
    list-style: none;
}

.jbgc li:nth-child(1) {
    height: 30%;
    position: absolute;
    left: 0;
}

@font-face {
    font-family: electronicFont;
    src: url(@/assets/fonts/DS-DIGIT.TTF)
}

.jztxt div {
    padding: 20px 0 0 0;
    line-height: 120%;
}

.jztxt div i {
    font-size: 12px;
    color: #fff;
}

.jztxt div h3 {
    font-size: 20px;
    color: #00deff;
    font-family: electronicFont;
}

.jztxt div span {
    font-size: 13px;
    opacity: .5
}



.drqk {
    height: 100%;
}

.drqk li {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    list-style: none;
    padding-top: 4%;
}

.icon {
    background: url(@/assets/images/icon/iconbg.png);
    width: 63px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.drqk li span {
    opacity: .5;
    font-size: 15px;
}

.drqk li i {
    padding-left: 10px;
    opacity: .5;
}

.drqk li em {
    background: linear-gradient(0deg, #45d3fd, #45d3fd, #61ddb1, #61ddb1);
    font-style: normal;
    background-size: cover;
    font-family: electronicFont;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ylfw {
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 15px;
}

.ylfw li {
    width: 45%;
    height: 33%;
    float: left;
    padding: 5px 10px;
    list-style: none;
}

.ylfwbox {
    height: 85%;
    border: 1px solid #1070aa;
    padding: 12px 15px;
    position: relative;
}

.fora {
    position: relative;
}

.forb {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.fora:before,
.fora:after,
.forb:before,
.forb:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 2px;
    border: 1px solid #00deff;
    opacity: .8;
    box-shadow: 0 0 5px #00deff;
}

.fora:before,
.forb:before {
    left: -2px;
    top: -2px;
}

.fora:after,
.forb:after {
    right: -2px;
    top: -2px;
}

.ylfwbox p {
    font-size: 13px;
}

.ylfwbox ol i {
    font-size: 12px;
}

.ylfwbox ol em {
    font-size: 14px;
    font-style: normal;
    padding: 0 5px;
}

.ylfwbox ol span {
    font-size: 24px;
    color: #00deff;
    text-shadow: 0 0 5px #00deff;
    font-family: electronicFont;
}

.jcjg {
    height: 100%;
}

.jcjg li {
    width: 33%;
    height: 100%;
    float: left;
    margin-top: 10px;
    list-style: none;
}

.jcjg h3 {
    background: url(@/assets/images/icon/tit1.png) center right no-repeat;
    font-weight: normal;
    font-size: 15px;
}

.jcnav {
    position: relative;
    background: url(@/assets/images/icon/bg1.png) no-repeat left center;
    height: 160px;
    width: 100%;
    margin-top: 25px;
}

.jcnav2 {
    background: url(@/assets/images/icon/bg2.png) no-repeat left center;
    height: 200px;
}

.jcnav img {
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -30px;
}

.jcnav2 img {
    left: 14px;
    margin-top: -30px;
}

.jcnavp {
    padding-left: 98px;
}

.jcnavp>div {
    border: 1px solid #1070aa;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 5px 10px;
    margin-bottom: 26px;
    height: 36px;
}

.jcnav2 .jcnavp>div {
    margin-bottom: 17px;
}

.jcnavp>div ol {
    white-space: nowrap;
}

.jcnavp>div span {
    padding-left: 10px;
    color: #00e4ff;
    white-space: nowrap;
}

.jcnavp>div i {
    font-size: 12px;
    padding-left: 5px;
}

.tqdb {
    height: 100%;
    width: 100%;
}

.tqdb li {
    height: 45%;
    float: left;
    width: 33%;
    text-align: center;
    list-style: none;
}

.tqdb li div {
    height: calc(100% - 30px);
}

.tqdb li h3 {
    font-size: 13px;
    color: #fff;
}